<a href="https://colab.research.google.com/github/dharaneesh2/ShapeAI_Bootcamp_BWD/blob/main/Copy_of_Copy_of_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#create 
set1 = {"Dharaneesh",1901033}
print(set1)
#type
print(type(set1))
#add and update
set1.add("J")
print(set1)
set2 = {1,2,3,4,5}
set1.update(set2)
print(set1)
#remove & discord
set2.remove(1)
print(set2)
set2.discard(2)
print(set2)
set2.discard(40)
print(set2)
#pop() & clear()
set1.pop()
print(set1)
set1.clear()
print(set1)
#check for an element 
print("J" in set1, 5 in set2)
#length
print(len(set1), len(set2))
#delete
del set1
#print(set1)

{1901033, 'Dharaneesh'}
<class 'set'>
{1901033, 'J', 'Dharaneesh'}
{1, 2, 3, 4, 5, 'Dharaneesh', 1901033, 'J'}
{2, 3, 4, 5}
{3, 4, 5}
{3, 4, 5}
{2, 3, 4, 5, 'Dharaneesh', 1901033, 'J'}
set()
False True
0 3

In [ ]:
#create tuple
tuple1=("Dharaneesh","J", 1901033)
print(tuple1)
#type()
print(type(tuple1))
#accessing using index
print(tuple1[1], tuple1[2])
#positive slice
print(tuple1[0])
#negative slice
print(tuple1[-1])
#changing tuple value 
# error will occur
# tuple1[2] = 1901010
# print(tuple1) 

#length
print(len(tuple1))
#check for element
print(1901033 in tuple1, 0 in tuple1)
#iterating by for
for i in tuple1:
  print(i)
#adding value
tuple1 = tuple1 + (0,);
#tuple1.append(20) error occur coz no append or extend method in tuple
# print(tuple1)

# tuple1.remove(1901033) error occured coz no remove method in tuple
# print(tuple1)

#count() return how many times that value 
print(tuple1.count(1901033))
#MAX
tuple2 = (10,3,5,67,2,333,5)
print(max(tuple2));
#MIN
print(min(tuple2))
#repitition
print(tuple1 * 2)
#index
print(tuple2.index(333))
#join
joinedTuple = tuple1 + tuple2
print(joinedTuple)

('Dharaneesh', 'J', 1901033)
<class 'tuple'>
J 1901033
Dharaneesh
1901033
3
True False
Dharaneesh
J
1901033
1
333
2
('Dharaneesh', 'J', 1901033, 0, 'Dharaneesh', 'J', 1901033, 0)
5
('Dharaneesh', 'J', 1901033, 0, 10, 3, 5, 67, 2, 333, 5)